<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Soleil-Bold.ttf</string>
		<string>Soleil-Light.ttf</string>
		<string>Soleil-Regular.ttf</string>
		<string>Soleil-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MiLibrisReaderSDKLicenceKey</key>
	<string>CaLerUVy8nyPo2uCzywZe7NgZGYSBPQZH8o0LJDCAiBPL7tnmDqkS5dvy0PvWIsPonjtmafuGQqPHL3/tJ5Iea0Cq+Dq8pNrDvtQPIwUcgCExcE3DEDG3x3HuPHI2fh5souN7jdfkWcRE4WO/o//asvDt4rJb0WR7ImOHOBnO4Wz53TO7E1tNMlnzXMAy75W8q73LEIju+V1K+HZblYlOg3QAR+3zKvGTEGuszaKWLXAhg8fmxOh6CnFaJgW1RsFjbpZLHClln4B+50d7iCUtEyzZSpmvkGEByJ9EG7z3NsG5PwLvgPsyKLpEIFp/4XjvkvjcgezfxFcM+HANYi4sg==</string>
</dict>
</plist>
